# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/

# Ignore Terraform lock file
.terraform.lock.hcl

# Node.js
node_modules/

# Python
*.pyc
*.pyo
__pycache__/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db